<!DOCTYPE html>
<html>
<head>
    <title>Gru Example</title>
    <%- include ./common/meta.ejs %>



    <style>
        .direct-chat-messages {
            padding: 10px;
            height: auto;
            max-height: 500px;
            overflow-y: scroll;
        }

        .direct-chat-text{
            max-width:500px;
        }

        .direct-chat-primary .right>.direct-chat-text {
            float: right;
            max-width: 500px;
        }

        .direct-chat-msg .direct-chat-name.pull-left{
            margin-right: 10px;
        }

        .direct-chat-msg .direct-chat-name.pull-right{
            margin-left: 10px;
        }

        .right .direct-chat-text {
            margin-right: 10px;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">



<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>G</b>ru</span>
            <span class="logo-lg"><b>Gru</b>&nbsp;&nbsp;Chat</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications Menu -->
                    <li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有 10 个提醒</li>
                            <li>
                                <!-- Inner Menu: contains the notifications -->
                                <ul class="menu">
                                    <li><!-- start notification -->
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 详细信息
                                        </a>
                                    </li>
                                    <!-- end notification -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">更多...</a></li>
                        </ul>
                    </li>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">Sumory</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    Sumory Wu
                                    <small>sumory.com</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Header end -->

    <!-- left sidebar start -->
    <aside class="main-sidebar">
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Sumory</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Inbox</li>
                <li class="treeview active">
                    <a href="pages/mailbox/mailbox.html">
                        <i class="fa fa-envelope"></i> <span>Friends</span>
                        <small class="label pull-right bg-red">12</small>
                    </a>

                    <ul class="treeview-menu">
                        <li>
                            <a href="#">
                                <img src="/AdminLTE/dist/img/user2-160x160.jpg" style="width:28px;margin-right:8px;" class="img-circle" alt="User Image">
                                <span>张三</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/AdminLTE/dist/img/user2-160x160.jpg" style="width:28px;margin-right:8px;" class="img-circle" alt="User Image">
                                <span>张三</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/AdminLTE/dist/img/user2-160x160.jpg" style="width:28px;margin-right:8px;" class="img-circle" alt="User Image">
                                <span>张三</span>
                                <span class="label label-primary pull-right">13</span>
                            </a>

                        </li>
                    </ul>
                </li>

                <li class="active">
                    <a href="#"><i class="fa fa-group"></i> <span>Groups</span></a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> group1</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> group2</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> group3</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> group4</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> group5</a></li>

                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> group6</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> group7</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> group8</a></li>


                    </ul>


                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- left sidebar end -->


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                与 XXX 会话
                <small>2015-10-22 23:40</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 聊天记录</a></li>
                <li class="active">20</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                <!-- DIRECT CHAT PRIMARY -->
                <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chat</h3>
                        <div class="box-tools pull-right">
                            <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <!-- Message. Default to the left -->
                            <div class="direct-chat-msg">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-left">Sera</span>
                                    <span class="direct-chat-timestamp pull-left">10-22 23:45</span>
                                </div><!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/AdminLTE/dist/img/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    Is this template really for free? That's unbelievable!
                                </div><!-- /.direct-chat-text -->
                            </div><!-- /.direct-chat-msg -->

                            <!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sumory</span>
                                    <span class="direct-chat-timestamp pull-right">10-23 00:11</span>
                                </div><!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    You better believe it!
                                </div><!-- /.direct-chat-text -->
                            </div><!-- /.direct-chat-msg -->
                            <!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sumory</span>
                                    <span class="direct-chat-timestamp pull-right">10-23 00:11</span>
                                </div><!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    You better believe it!
                                </div><!-- /.direct-chat-text -->
                            </div><!-- /.direct-chat-msg --><!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sumory</span>
                                    <span class="direct-chat-timestamp pull-right">10-23 00:11</span>
                                </div><!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    You better believe it!
                                </div><!-- /.direct-chat-text -->
                            </div><!-- /.direct-chat-msg -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sumory</span>
                                    <span class="direct-chat-timestamp pull-right">10-23 00:11</span>
                                </div><!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    You better believe it!
                                </div><!-- /.direct-chat-text -->
                            </div><!-- /.direct-chat-msg --><!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sumory</span>
                                    <span class="direct-chat-timestamp pull-right">10-23 00:11</span>
                                </div><!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    You better believe it!
                                </div><!-- /.direct-chat-text -->
                            </div><!-- /.direct-chat-msg -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sumory</span>
                                    <span class="direct-chat-timestamp pull-right">10-23 00:11</span>
                                </div><!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    You better believe it!
                                </div><!-- /.direct-chat-text -->
                            </div><!-- /.direct-chat-msg --><!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">Sumory</span>
                                    <span class="direct-chat-timestamp pull-right">10-23 00:11</span>
                                </div><!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="/AdminLTE/dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    You better believe it!
                                </div><!-- /.direct-chat-text -->
                            </div><!-- /.direct-chat-msg -->

                        </div><!--/.direct-chat-messages-->

                        <!-- Contacts are loaded here -->
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="/AdminLTE/dist/img/user1-128x128.jpg">
                                        <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Count Dracula
                              <small class="contacts-list-date pull-right">2/28/2015</small>
                            </span>
                                            <span class="contacts-list-msg">How have you been? I was...</span>
                                        </div><!-- /.contacts-list-info -->
                                    </a>
                                </li><!-- End Contact Item -->
                            </ul><!-- /.contatcts-list -->
                        </div><!-- /.direct-chat-pane -->
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-flat">Send</button>
                      </span>
                            </div>
                        </form>
                    </div><!-- /.box-footer-->
                </div><!--/.direct-chat -->
            </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <a href="https://github.com/sumory/gru-example">Project on Github</a>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="http://sumory.com">sumory.com</a></strong>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<%- include ./common/footer.ejs %>
</body>
</html>
